<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="blogs content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum magni
        dicta architecto dignissimos molestias laudantium quos porro
        exercitationem voluptatum quidem, cupiditate maiores, earum nisi ducimus
        eum harum unde quibusdam. Expedita!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum magni
        dicta architecto dignissimos molestias laudantium quos porro
        exercitationem voluptatum quidem, cupiditate maiores, earum nisi ducimus
        eum harum unde quibusdam. Expedita!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum magni
        dicta architecto dignissimos molestias laudantium quos porro
        exercitationem voluptatum quidem, cupiditate maiores, earum nisi ducimus
        eum harum unde quibusdam. Expedita!
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
